<section class="theme container">
  <div class="addCategory">
    <a href="add-question?id={{category._id}}">
      <button class="addCatBtn">
        Add Question
      </button>
    </a>
  </div>
  <div class="quizTitle">
    <h1>{{category.CategoryName}}</h1>
  </div>
  {{#each questionBank}}
    <div class="content-box">
      <div class="questn">
        <h2>{{this.Question}}</h2>
        <h3>A. {{this.A}}</h3>
        <h3>B. {{this.B}}</h3>
        <h3>C. {{this.C}}</h3>
        <h3>D. {{this.D}}</h3>
        <h4><span>Correct Answer:</span>{{this.CorrectAnswer}}</h4>
        <p><span><h4>Description:</h4></span>
          {{this.Description}}</p>

        <a class="Btn" href="edit-question?id={{this._id}}">Edit</a>
        <a
          class="Btn"
          href="delete-question?quesId={{this._id}}&catId={{this.catId}}"
          onclick="return confirm('Are you sure to delete?')"
        >Delete</a>
      </div>
    </div>
  {{/each}}
</section>